<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/styles.css">
</head>
<div class="container mt-5">
    <h1 class="text-center mb-4">Nuestros productos</h1>
    <div class="row">
        {{#each prods.docs}}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100 tabla-madera">
                <a href="/api/products/{{this._id}}">
                    <img src="{{this.thumbnail}}" class="card-img-top" alt="Producto" />
                </a>
                <div class="card-body italy-card">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text"><strong>Ingredientes: </strong>{{this.description}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="card-precio mb-0">Valor: $ {{this.price}}</p>
                        <a href="/api/products/{{this._id}}" class="btn btn-fire">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <!-- Paginacion -->
    <nav aria-label="Page Navigation">
        <ul class="pagination justify-content-center">
            {{#if prods.hasPrevPage}}
            <li class="page-item">
                <a class="page-link" href="?page={{prods.prevPage}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{/if}}
            {{#each prods.pageNumbers}}
            <li class="page-item {{#if this.isCurrent}}active{{/if}}">
                <a class="page-link" href="?page={{this.number}}">{{this.number}}</a>
            </li>
            {{/each}}
            {{#if prods.hasNextPage}}
            <li class="page-item">
                <a class="page-link" href="?page={{prods.nextPage}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>
